extends ./head.jade
append stylesheets
  //link(rel='stylesheet', href='/stylesheets/')

append content

    #signin

        h1 SIGN IN
        
        input(placeholder='username').username
        input(placeholder='password').password
        button go