extends ./head.jade
append stylesheets
  //link(rel='stylesheet', href='/stylesheets/')

append content

    #signup

        h1 SIGN UP
        
        input(placeholder='email').email
        input(placeholder='username').username
        input(placeholder='password').password
        button go